@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0c0c13;
  background-color: #0c0c13;
  color: #111027;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

.nav{
  background: rgba(6, 4, 19, 0.488);
  border-radius: 1px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid #ffffff08;
}

.shadow:hover{
  box-shadow: #fff70055 0px 7px 29px 0px;
}

.text-shadow:hover{
  text-shadow: #fff1b8 1px 0 10px;
}
